In [9]:
import os
import pandas as pd
import matplotlib


#be sure to fix your own path for DATA_PATH
DATA_PATH = "C:/Programming/DoomPatrol/Kaggle_2017_Titanic/"
def load_train_data(data_path = DATA_PATH):
    csv_path = os.path.join(data_path, "train.csv")
    return pd.read_csv(csv_path)

def parseOutAnswers(dataFrame):
    answers = {}

    for passengerIndex, passenger in dataFrame.iterrows():
        passengerID = passenger['PassengerId']
        answers[passengerID] = passenger['Survived']

    return answers

In [10]:
train_data = load_train_data()
train_data_copy = train_data.copy()


#pclass = Ticket Class (first class, second class, third class)
#sibsp = Number of siblings and spouses aboard
#parch = Number of parents and children aboard
#ticket = Ticket number
#cabin = cabin number
#embarked = Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

###### Run this commented out code to get data specifics ##########3
#import matplotlib.pyplot as plt
#train_data_copy.head()
#train_data_copy.info()
#train_data_copy.describe()
#train_data_copy.hist(bins = 30, figsize = (15,15))
#plt.show()

In [11]:
#this block encodes the sex data as binary
#and prints the correlations
# 0 = female 1 = male

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
train_data_copy["Sex Code"] = encoder.fit_transform(train_data_copy["Sex"])
corr_matrix = train_data_copy.corr()
corr_matrix["Survived"].sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Sex Code      -0.543351
Name: Survived, dtype: float64

In [12]:
train_data_copy.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex Code
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.647587
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.477990
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [33]:
#attempt at running gaussian naive bayes classifier
#edit- the NaN values are messing this up. Fix the Nan
#values with either 0 or median and run it again.

#then clean test and run model.predict(test)?

from sklearn import datasets
from sklearn.naive_bayes import GaussianNB

answers = train_data_copy['Survived']
train_clean = train_data_copy.copy()
columns = ['PassengerId', 'Survived', 'Name', 'Sex', 'Ticket', 'Cabin','Embarked', 'SibSp']
train_clean.drop(columns, axis=1, inplace=True)
model = GaussianNB()
#model.fit(train_clean, answers)
train_clean['Age'].isnull()

#

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28      True
29      True
       ...
861    False
862    False
863     True
864    False
865    False
866    False
867    False
868     True
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878     True
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool